<!--
  This file is part of CentriFi.

  CentriFi is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  CentriFi is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with CentriFi.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="page-container">
    <form class="centered-form" [formGroup]="passwordForm">
        <mat-form-field class="full-column-width-centered">
            <mat-label>Current Password</mat-label>
            <input matInput
                type="password"
                formControlName="currPassword"
                placeholder="Enter your current CentriFi password"
                (keyup.enter)="onPasswordFinish()"
                >
        </mat-form-field>
        <mat-form-field class="full-column-width-centered">
            <mat-label>New Password</mat-label>
            <input matInput
                type="password"
                formControlName="password"
                placeholder="Enter your new CentriFi password"
                (keyup.enter)="onPasswordFinish()"
                (keydown)="dataService.omit_special_char($event)"
                >
        </mat-form-field>
        <mat-form-field class="full-column-width-centered">
            <mat-label>Confirm New Password</mat-label>
            <input matInput
                type="password"
                formControlName="confirmPassword"
                placeholder="Re-enter your new CentriFi password"
                (keyup.enter)="onPasswordFinish()"
                (keydown)="dataService.omit_special_char($event)"
                >
        </mat-form-field>
        <span class="full-column-width-centered password-notice">
            {{dataService.passwordNotice}}
        </span>
        <div *ngIf="
            passwordForm.invalid &&
            passwordForm.controls.password.dirty &&
            passwordForm.controls.confirmPassword.dirty"
            class="alert"
        >
            <span *ngIf="passwordForm.errors && passwordForm.errors.mismatch">
                Passwords do not match
            </span>
            <span *ngIf="passwordForm.invalid && !passwordForm.errors">
                One of the passwords has illegal characters
            </span>
        </div>
        <div *ngIf="saveFailed" class="alert">
            Password could not be applied!
        </div>
        <div *ngIf="saveSuccess" class="success">
            Password changed succesfully!
        </div>
    </form>
    <button (click)="onBack()" mat-flat-button color="primary" class="button medium-button">
        Back
    </button>
    <button [disabled]="passwordForm.invalid" (click)="onPasswordFinish()" mat-flat-button color="primary" class="button medium-button">
        Save Change
    </button>
</div>