<!--
  This file is part of CentriFi.

  CentriFi is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  CentriFi is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with CentriFi.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="page-container">
    <form class="centered-form">
        <mat-form-field class="full-column-width-centered">
            <mat-label>Password</mat-label>
            <input matInput type="password"
                [(ngModel)]="password" name="password"
                placeholder="Enter your CentriFi password"
                (keyup.enter)="onLogin()"
                >
        </mat-form-field>
    </form>
    <div *ngIf="unreachedServer" class="alert">
        Something is very wrong, and we don't know what!
    </div>
    <div *ngIf="incorrectPassword" class="alert">
        Incorrect Password!
    </div>
    <div *ngIf="loggedIn" class="success">
        Logged in successfully!
    </div>
    <button (click)="onLogin()" mat-flat-button color="primary" class="button medium-button">
        Login
    </button>
</div>